@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="col-md-9">
        You can contact me at <a href="mailto:UnicornHack@yahoo.com">UnicornHack@yahoo.com</a>.
    </div>
</div>