@model UnicornHack.Models.GameViewModels.Character
@{
    ViewData["Title"] = "Welcome to UnicornHack";
}

<div class="container">
    <h2>Welcome to UnicornHack</h2>

    <div class="row">
        <div class="col-md-12">
            <pre class="text-left" style="border: hidden; background-color: black;">
    \
     \
      \\
       \\
        &gt;\/7
    _.-(6'  \
   (=___._/` \
        )  \ |
       /   / |
      /    &gt; /
     j    &lt; _\
 _.-' :      ``.
 \ r=._\        `.
&lt;`\\_  \         .`-.
 \ r-7  `-. ._  ' .  `\
  \`,      `-.`7  7)   )
   \/         \|  \'  / `-._
              ||    .'
               \\  (
                &gt;\  &gt;
            ,.-' &gt;.'
           &lt;.'_.''
             &lt;'
</pre>
        </div>
    </div>

    <form asp-controller="Home" asp-action="Game" method="get" class="form-inline" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        @*TODO: Validate name and that the character is not dead. Autocomplete alive characters.*@
        <div class="form-group">
            <input asp-for="Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-default">Play</button>
    </form>
</div>