@model UnicornHack.Models.CharacterModel
@{
    ViewData["Title"] = "Welcome to UnicornHack";
}

<div class="container">
    <div class="row justify-content-center">
        <div style="width: auto">
            <h1 class="text-center">UnicornHack</h1>
            <br />
            <pre class="text-left">
    \
     \
      \\
       \\
        &gt;\/7
    _.-(6'  \
   (=___._/` \
        )  \ |
       /   / |
      /    &gt; /
     j    &lt; _\
 _.-' :      ``.
 \ r=._\        `.
&lt;`\\_  \         .`-.
 \ r-7  `-. ._  ' .  `\
  \`,      `-.`7  7)   )
   \/         \|  \'  / `-._
              ||    .'
               \\  (
                &gt;\  &gt;
            ,.-' &gt;.'
           &lt;.'_.''
             &lt;'
</pre>

            <form asp-controller="Home" asp-action="Game" method="get" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                @*TODO: Validate name and that the character is not dead. Autocomplete alive characters.*@
                <div class="input-group" style="width: 300px">
                    <input asp-for="Name" class="form-control" />
                    <button type="submit" class="btn btn-secondary">Play</button>
                </div>
            </form>
        </div>
        <div style="display: flex; flex-wrap: wrap; width: 100%">
            <p class="text-center" style="margin-top: 20px; width: 100%">
                Notice: this game is currently in prototype stage and isn't expected to work correctly or be fun.
            </p>
        </div>
    </div>
</div>