@model UnicornHack.Models.CharacterModel
@{
    ViewData["Title"] = "Welcome to UnicornHack";
}

<div class="container">
    <div class="row">
        <div style="margin-right: auto; margin-left: auto">
            <h1 class="text-center">UnicornHack</h1>
            <br/>
            <pre class="text-left">
    \
     \
      \\
       \\
        &gt;\/7
    _.-(6'  \
   (=___._/` \
        )  \ |
       /   / |
      /    &gt; /
     j    &lt; _\
 _.-' :      ``.
 \ r=._\        `.
&lt;`\\_  \         .`-.
 \ r-7  `-. ._  ' .  `\
  \`,      `-.`7  7)   )
   \/         \|  \'  / `-._
              ||    .'
               \\  (
                &gt;\  &gt;
            ,.-' &gt;.'
           &lt;.'_.''
             &lt;'
</pre>

            <form asp-controller="Home" asp-action="Game" method="get" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                @*TODO: Validate name and that the character is not dead. Autocomplete alive characters.*@
                <div class="form-group">
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-row">
                    <button type="submit" class="form-inline btn-secondary" style="margin: auto">Play</button>
                </div>
            </form>
        </div>
    </div>
</div>