@import "node_modules/bootstrap/scss/utilities/_text";
@import "node_modules/bootstrap/scss/_reboot";
@import "node_modules/bootstrap/scss/_progress";
@import "node_modules/bootstrap/scss/_buttons";
@import "node_modules/bootstrap/scss/_code";
@import "node_modules/bootstrap/scss/_forms";
@import "node_modules/bootstrap/scss/_type";

@font-face {
    font-family: DejaVuSansMono;
    src: url('../fonts/DejaVuSansMono.woff2') format('woff2'), url('../fonts/DejaVuSansMono.woff') format('woff'), url('../fonts/DejaVuSansMono.ttf') format('truetype');
}

body {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    font-family: $font-family-monospace;
}

a {
    cursor: pointer;
}

pre {
    color: inherit;
    background-color: inherit;
    line-height: 22px;
    font-size: 20px;
    overflow: hidden;
}

input::placeholder {
    text-align: center;
}

.container {
    @include make-container();
    @include make-container-max-widths();
}

.intro {
    @include make-row();
}

.frame {
    border-width: 1px;
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    border: 1px solid #CCC;
    border-radius: 3px;
}

.game {
    @include make-row();
}

.game__map {
    @include make-col-ready();

    @include media-breakpoint-down(xl) {
        @include make-col(12);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(9);
    }

    @include media-breakpoint-up(xxl) {
        @include make-col(6);
    }
}

.game__sidepanel {
    @include make-col-ready();

    @include media-breakpoint-down(xl) {
        @include make-col(12);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(3);
    }

    @include media-breakpoint-up(xxl) {
        @include make-col(6);
    }
}

.game__sidepanelContainer {
    @include make-row();
    margin: 0;
}

.mapContainer {
    @extend .frame;
    overflow: hidden;
    height: 640px;
    order: 0;
}

.map {
    transform: scale(1.0, 0.75);
    transform-origin: 0 0;
    height: 820px;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 18px;
    overflow: auto;
}

.map__row {
    display: inline-flex;
}

.map__tile {
    overflow: hidden;
    float: left;
    width: 0.6em;
    white-space: pre;
}

.map__tile_fullwidth {
    float: left;
    width: 1em;
    margin-right: -0.2em;
    margin-left: -0.2em;
    transform: scale(0.5, 1);
}

.log {
    @extend .frame;
}

.sidepanel {
    @include make-col-ready();

    @include media-breakpoint-down(xxl) {
        @include make-col(12);
    }

    @include media-breakpoint-up(xxl) {
        @include make-col(6);
    }
}

.chat {
    @extend .sidepanel;
    @extend .frame;
    @include make-row();
    margin: 0;
}

.chat__messages {
    @include make-col(12);
    list-style-type: none;
    padding: 10px;
    max-height: 10rem;
    overflow-y: auto;
    padding: 0;
}

.chat__form {
    @extend .form-inline;
    @include make-col(12);
}

.chat__input {
    @extend .form-control;
    @include make-col(10);
}

.chat__send {
    @extend .btn;
    @extend .btn-secondary;
    @include make-col(2);
}

.statusBar__wrapper {
    @extend .sidepanel;
    @extend .frame;
}

.statusBar {
    @include make-row();
}

.statusBar__element {
    @include make-col-ready();

    @include media-breakpoint-down(xl) {
        @include make-col(4);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(12);
    }
}

.progress-bar-absolute {
    @extend .progress-bar;
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    right: 5px;
}

.statusBar__maxHp {
    @extend .progress;
    background-color: $highlight-bg;
}

.statusBar__recentHp {
    @extend .progress-bar-absolute;
    background-color: greenyellow;
}

.statusBar__currentHp {
    @extend .progress-bar-absolute;
    background-color: green;
}

.statusBar__currentHp_warning {
    @extend .progress-bar-absolute;
    background-color: yellow;
}

.statusBar__currentHp_critical {
    @extend .progress-bar-absolute;
    background-color: red;
}

.statusBar__hpLabel {
    @extend .progress-bar-absolute;
    background-color: transparent;
}

.statusBar__maxEp {
    @extend .progress;
    background-color: $highlight-bg;
}

.statusBar__currentEp {
    @extend .progress-bar-absolute;
    background-color: blue;
}

.statusBar__reservedEp {
    @extend .progress-bar-absolute;
    background-color: darkslategrey;
}

.statusBar__epLabel {
    @extend .progress-bar-absolute;
    background-color: transparent;
}

.statusBar__nextLevelXp {
    @extend .progress;
    background-color: $highlight-bg;
}

.statusBar__currentXp {
    @extend .progress-bar-absolute;
    background-color: teal;
}

.statusBar__xpLabel {
    @extend .progress-bar-absolute;
    background-color: transparent;
}

.abilityBar {
    @extend .sidepanel;
    @extend .frame;
}

.abilityBar__slot {
    color: $secondary;
}

.abilitySlotSelection {
    @extend .frame;
    position: relative;
    margin: auto;
    max-height: 100%;
    overflow: auto;
    background-color: $highlight-bg;
}

.abilitySlotSelection__wrapper {
    position: absolute;
    display: flex;
    left: 0px;
    right: 0px;
    height: 100%;
}

.dialog__overlay {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(127,127,127,0.25);
}

.inventory {
    @extend .sidepanel;
    @extend .frame;
}

:export {
    body_bg: $body-bg;
    body_color: $body-color;
    enemy_bg: $orange;
}