@import "sass-resources";
@import "node_modules/bootstrap/scss/utilities/_background";
@import "node_modules/bootstrap/scss/utilities/_text";
@import "node_modules/bootstrap/scss/_reboot";
@import "node_modules/bootstrap/scss/_progress";
@import "node_modules/bootstrap/scss/_buttons";
@import "node_modules/bootstrap/scss/_close";
@import "node_modules/bootstrap/scss/_code";
@import "node_modules/bootstrap/scss/_forms";
@import "node_modules/bootstrap/scss/_nav";
@import "node_modules/bootstrap/scss/_spinners";
@import "node_modules/bootstrap/scss/_type";
@import "node_modules/bootstrap/scss/_tooltip";
@import "node_modules/bootstrap/scss/_card";
@import "node_modules/bootstrap/scss/_transitions";

@font-face {
    font-family: DejaVuSansMono;
    src: url('../fonts/DejaVuSansMono.woff2') format('woff2'), url('../fonts/DejaVuSansMono.woff') format('woff'), url('../fonts/DejaVuSansMono.ttf') format('truetype');
}

body {
    font-family: $font-family-monospace;
}

a {
    cursor: pointer;
}

pre {
    color: inherit;
    background-color: inherit;
    line-height: 22px;
    font-size: 20px;
    overflow: hidden;
}

input::placeholder {
    text-align: center;
}

.container {
    @include make-container();
    @include make-container-max-widths();
}

.col {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.accordion {
    > .card {
        &:last-of-type {
            border-bottom: $card-border-width solid $card-border-color;
        }
    }
}

.tooltip-inner {
    max-width: 100%;
}

.intro {
    @include make-row();
}

.frame {
    padding: $grid-gutter-width;
    margin: 0 0 $grid-gutter-width;
    border: 1px solid $body-color;
}

.annotatedText {
    //text-decoration: underline dashed;
    border-bottom: 1px dashed;
}

.contextLink {
    cursor: context-menu;
}

.game {
    @include make-row();
    padding: $grid-gutter-width/2 0 $grid-gutter-width/2 $grid-gutter-width/2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.game__map {
    @include make-col-ready();

    @include media-breakpoint-down(xl) {
        @include make-col(12);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(9);
    }

    @include media-breakpoint-up(xxl) {
        @include make-col(6);
    }
}

.mapContainer {
    @extend .frame;
    overflow: hidden;
    height: 640px;
    order: 0;
}

.map {
    transform: scale(1.0, 0.75);
    transform-origin: 0 0;
    height: 820px;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 18px;
    overflow: auto;
    cursor: default;
}

.map__row {
    display: inline-flex;
}

.map__tile {
    overflow: hidden;
    float: left;
    width: 0.6rem;
    white-space: pre;
}

.map__tile:hover {
    box-shadow: 0 0 0 0.5rem rgba(255,255,255,0.5) inset;
    opacity: 1 !important;
}

.map__tile_fullwidth {
    float: left;
    width: 1rem;
    margin-right: -0.2rem;
    margin-left: -0.2rem;
    transform: scale(0.5, 1);
}

.gameLog {
    @extend .frame;
    margin-bottom: $grid-gutter-width/2;
}

.game__sidepanel {
    @include make-col-ready();

    @include media-breakpoint-down(xl) {
        @include make-col(12);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(3);
    }

    @include media-breakpoint-up(xxl) {
        @include make-col(6);
    }

    @include make-row();
    margin-top: -$grid-gutter-width/2;
    padding-right: 0;
}

.sidepanel {
    @include make-col-ready();

    @include media-breakpoint-down(xxl) {
        @include make-col(12);
    }

    @include media-breakpoint-up(xxl) {
        @include make-col(6);
    }

    padding: $grid-gutter-width/2;
}

.statusBar__wrapper {
    @extend .frame;
    height: 100%;
}

.statusBar {
    @include make-row();
}

.statusBar__element {
    @include make-col-ready();

    @include media-breakpoint-down(xl) {
        @include make-col(4);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(12);
    }
}

.progress-bar-label {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    color: $progress-bar-color;
}

.bg-recentHp {
    background-color: mix($green, $body-bg);
}

.bg-reservedEp {
    background-color: $base00;
}

.bg-currentXp {
    background-color: $cyan;
}

.abilityBar {
    @extend .frame;
    height: 100%;
}

.abilityBar__row {
    overflow: hidden;
    display: inline-flex;
    max-width: 90%;
}

.abilityBar__slot {
    color: $secondary;
}

.abilityBar__label {
    padding-left: $grid-gutter-width;
    white-space: nowrap;
}

.inventory {
    @extend .frame;
    height: 100%;
}

.chat {
    @extend .frame;
    @include make-col-ready();

    @include media-breakpoint-up(xxl) {
        @include make-col(12);
    }

    @include make-row();
    height: 100%;
    margin: 0;
}

.chat__messages {
    @include make-col-ready();
    @include make-col(12);
    list-style-type: none;
    padding: $grid-gutter-width;
    max-height: 10rem;
    overflow-y: auto;
    padding: 0;
}

.chat__form {
    @extend .form-inline;
    @include make-col-ready();
    @include make-col(12);
}

.chat__input {
    @extend .form-control;
    flex-grow: 1;
}

.chat__send {
    @extend .btn;
    @extend .btn-secondary;
    @extend .col;
}

.banner__overlay {
    @include make-row();
    position: fixed;
    bottom: $grid-gutter-width/2;
    left: 0;
    width: 100%;
}

.banner__overlayContent {
    @extend .frame;
    background-color: $body-bg;
    margin: auto;
    max-height: 100%;
}

.dialog__overlay {
    @include make-row();
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(127,127,127,0.25);
}

.dialog__overlayContent {
    margin: auto;
    max-height: 100%;
}

.dialog__title {
    @include make-col-ready();
    @include make-col(12);
    left: -$grid-gutter-width/2;
    top: -$grid-gutter-width/2;
    font-size: x-large;
}

.dialog__backButton {
    @extend .btn;
    @extend .btn-secondary;
    color: $highlight-color;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem 0 0.5rem;
}

.loading__screen {
    @extend .dialog__overlay;
    background: transparent;
    cursor: progress;
}

.loading__text {
    margin: auto;
}

.postGameStatistics, .abilitySlotSelection, .characterScreen, .creatureProperties, .itemProperties, .abilityProperties {
    @include make-row();
    @extend .frame;
    position: relative;
    margin: auto;
    max-height: 100%;
    overflow: auto;
    background-color: $highlight-bg;
}

.postGameStatistics__newGame {
    width: 100%;
    text-align: center;
}

.characterScreen {
    flex: 1 1 auto;
}

.abilityList {
    padding-top: $grid-gutter-width;
}

.characterScreen__content {
    @extend .checkered;
    @include make-row();
    padding: $grid-gutter-width $grid-gutter-width 0 $grid-gutter-width;
}

.abilityScreen__header {
    padding-top: 0;
    padding-bottom: 0;
}

.abilityScreen__name {
    @include make-col-ready();
    @include make-col(12);
    text-align: left;
    font-weight: bold;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.abilityScreen__effects {
    @include make-col-ready();
    @include make-col(12);
    @include make-row();
    padding-top: $grid-gutter-width;
}

.abilityScreen__effectsTitle, .abilityScreen__title {
    @include make-col-ready();
    @include make-col(12);
}

.effectScreen__content {
    @extend .checkered;
    @include make-col-ready();
    @include make-col(12);
    @include make-row();
    border: 1px solid rgba($body-color, 0.5);
}

.checkered .property__row:nth-child(8n),
.checkered .property__row:nth-child(8n+1),
.checkered .property__row:nth-child(8n+3),
.checkered .property__row:nth-child(8n+6) {
    @include media-breakpoint-up(xl) {
        background-color: $body-bg;
    }
}

.checkered .property__row:nth-child(8n+2),
.checkered .property__row:nth-child(8n+4),
.checkered .property__row:nth-child(8n+5),
.checkered .property__row:nth-child(8n+7) {
    @include media-breakpoint-up(xl) {
        background-color: darken($body-bg, 2%);
    }
}

.checkered .property__row:nth-child(6n+1),
.checkered .property__row:nth-child(6n+3),
.checkered .property__row:nth-child(6n+5) {
    @include media-breakpoint-only(lg) {
        background-color: $body-bg;
    }
}

.checkered .property__row:nth-child(6n),
.checkered .property__row:nth-child(6n+2),
.checkered .property__row:nth-child(6n+4) {
    @include media-breakpoint-only(lg) {
        background-color: darken($body-bg, 2%);
    }
}

.property__row {
    @include make-row();
    @include make-col-ready();

    @include media-breakpoint-down(sm) {
        @include make-col(12);
    }

    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(4);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(3);
    }

    margin: 0;
    display: inline-flex;
}

.property__row_wide {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(6);
    }
}

.property__row_multi-line {
    @include make-col-ready();
    @include make-col(12);
}

.property__label {
    white-space: nowrap;
}

.property__value {
    padding-left: $grid-gutter-width;
    white-space: nowrap;
}

:export {
    body_bg: $body-bg;
    body_color: $body-color;
    enemy_bg: $orange;
}